{% extends "admin_pages/base.html" %}
{% block content %}

{% include 'admin_pages/adminNavbar.html' %}
<div class="jumbotron">

    <form method="POST" action="{{ url_for('admin_home') }}">
        <div class="form-group centered" style="width: 500px; margin: auto; padding-top: 100px;">
            <h1 align="center" style="text-decoration: underline;">Welcome Admin!</h1>
            <br>
            <h3 align="center"> Modify Groups or Users </h3>
            <br>
            <label for="group_or_user" align="center">Select Group or User:</label>
            <select name="group_or_user" id="group_or_user" align="center">
                <option value="group">Group</option>
                <option value="user">User</option>
            </select>
            <br><br>
            <label for="add_or_delete" align="center">Select Add or Delete:</label>
            <select name="add_or_delete" id="add_or_delete" align="center">
                <option value="add">Add</option>
                <option value="delete">Delete</option>
            </select>
            <br><br>
            <input type="submit" name="action" value="Modify" align="center">
            <br><br>
            <h3 align="center">Select a Query</h3>
            <select name="query_type" align="center">
                <option value="list_users">List Users</option>
                <option value="list_groups">List Groups</option>
                <option value="list_group_members">List Group Members</option>
                <option value="show_empty_groups">Show Empty Groups</option>
            </select>
            <input type="submit" name="action" value="Query" align="center">
            <br>
            {% if result %}
            <h4 align="center">Query Result:</h4>
            <table align="center">
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in result %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

    </form>

</div>

<style>
    .centered {
        text-align: center;
        margin: auto;
    }
</style>

{% endblock %}