{% extends "layout.html" %}
{% block title %} MoneyKakis|Welcome {% endblock %}
{% block body %}
<div class="hero-section">
    <h1> MoneyKakis: Less stress when sharing expenses</h1>
    <p>Keep track of your shared expenses and balances with housemates, trips, groups, friends, and family.</p>
    <p></p><p></p>
    <div display="flex" justify-content="space-between" align-items="center">
    <a href="/register">Register</a>
    <a href="/login">Log in</a>
    </div>
</div>
            
{% endblock %}