{% extends "layout.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-{{ category }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
{% endwith %}
{% include 'navbar.html' %}

<!-- insert the code to change the password here -->

<form action="/passwordupdate" method="post">
    <div class="form-group" style="width: 500px; margin: auto; padding-top: 100px;">
        <h3 align="center"> Update Your Password </h3>
        <label for="oldpassword"> Your old password: </label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="oldpassword"
            placeholder="Enter your old password"
            required
        />
    </div>

    <div class="form-group" style="width: 500px; margin: auto; padding-top: 20px;">
        <label for="newpassword"> Your new password:</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="newpassword"
            placeholder="Enter your new password"
            required
        />
        <p></p>
        <button type="submit" class="btn btn-success" style="display: block; margin-block-start: auto;">Update Password</button>   
    </div>   
</form>



{% endblock %}